.activities {
    h2 {
        width: 95rem;
        max-width: 95%;
        font-size: 3rem;
        font-weight: 500;
        color: $main-gray;
        text-transform: uppercase;
        margin: 5rem auto 0;
    }

    &__list {
        width: 85rem;
        max-width: 85%;
        margin: 3rem auto;
        padding: 0;
        list-style: none;
        position: relative;

        .prevButton, .nextButton {
            background-color: $main-blue;
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            @include displayFlex(row, center, center);
            position: absolute;

            img {
                width: 1.55rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .prevButton {
            top: 12.5rem;
            left: -5rem;

            img {
                margin-right: .15rem;
            }
        }

        .nextButton {
            top: 12.5rem;
            right: -5rem;

            img {
                margin-left: .15rem;
            }
        }
    }

    &__listItem {
        position: relative;

        img {
            width: 55.5%;
        }

        &-info {
            position: absolute;
            top: 4.4rem;
            left: 60%;

            h3 {
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 5rem;
            }

            p {
                font-size: 1.2rem;
                margin-top: 1rem;
                width: 90%;
                opacity: .90;
            }
        }
    }
}