.activities {
    h2 {
        width: 95rem;
        max-width: 95%;
        font-size: 3rem;
        font-weight: 500;
        color: $main-gray;
        text-transform: uppercase;
        margin: 5rem auto 0;
    }

    &__list {
        width: 85rem;
        max-width: 80%;
        margin: 3rem auto;
        padding: 0;
        list-style: none;
        position: relative;

        .prevButton, .nextButton {
            background-color: $main-blue;
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            @include displayFlex(row, center, center);
            position: absolute;
            top: 42%;
            z-index: 101;

            img {
                width: 1.55rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .prevButton {
            left: -5rem;

            img {
                margin-right: .15rem;
            }
        }

        .nextButton {
            right: -5rem;

            img {
                margin-left: .15rem;
            }
        }
    }

    &__listItem {
        position: relative;

        img {
            width: 55.5%;
        }

        &-info {
            position: absolute;
            top: 4.4rem;
            left: 60%;

            h3 {
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 5rem;
            }

            p {
                font-size: 1.2rem;
                margin-top: 1rem;
                width: 90%;
                opacity: .90;
            }
        }
    }
}


// media queries
@media(max-width: 1075px) {
    .activities__listItem-info {
        top: 3rem;

        h3 {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
}

@media(max-width: 925px) {
    .activities {
        &__list {
            width: 95%;
            max-width: 95%;

            .prevButton {
                left: 1rem;
            }
            
            .nextButton {
                right: 1rem;
            }
        }

        &__listItem {
            img {
                width: 100%;
            }

            &-info {
                width: 100%;
                top: 2rem;
                left: 1rem;

                h3 {
                    color: white;
                }

                p {
                    color: white;
                    margin-top: .33rem;
                }
            }
        }
    }
}