.activities {
    h2 {
        font-size: 2rem;
    }

    &__list {
        width: 85rem;
        max-width: 85%;
        margin: 5rem auto;
        padding: 0;
        list-style: none;
    }

    &__listItem {
        position: relative;

        img {
            width: 55.5%;
        }

        &-info {
            position: absolute;
            top: 3rem;
            left: 60%;

            h3 {
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 500;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}