.parties {
    h2 {
        width: 95rem;
        max-width: 95%;
        font-size: 3rem;
        font-weight: 500;
        color: darken($main-gray, 15%);
        text-transform: uppercase;
        margin: 5rem auto 0;
    }

    span {
        display: block;
        width: 95rem;
        max-width: 95%;
        font-size: 1.5rem;
        font-weight: 500;
        color: $main-gray;
        text-transform: uppercase;
        margin: 0 auto 3rem;
    }

    &__list {
        padding: 0;
        list-style: none;
        @include displayFlex(row, flex-start, space-between);
        max-width: 95%;
        width: 95rem;
        margin: 0 auto 5rem;

        .one {
            background: linear-gradient(rgba(60, 155, 183, .6), rgba(60, 155, 183, .6)),
                        url("../../images/foam-pits.png");
            background-size: cover;
            background-position: center;
            transition: all .3s;

            &:hover {
                background: linear-gradient(rgba(60, 155, 183, .0), rgba(60, 155, 183, .0)),
                            url("../../images/foam-pits.png");
                background-size: cover;
                background-position: center;
            }
        }

        .two {
            background: linear-gradient(rgba(60, 155, 183, .6), rgba(60, 155, 183, .6)),
                        url("../../images/dodgeball.png");
            background-size: cover;
            background-position: center;

            &:hover {
                background: linear-gradient(rgba(60, 155, 183, .0), rgba(60, 155, 183, .0)),
                            url("../../images/dodgeball.png");
                background-size: cover;
                background-position: center;
            }
        }

        .three {
            background: linear-gradient(rgba(60, 155, 183, .6), rgba(60, 155, 183, .6)),
                        url("../../images/ninja-course.png");
            background-size: cover;
            background-position: center;

            &:hover {
                background: linear-gradient(rgba(60, 155, 183, .0), rgba(60, 155, 183, .0)),
                            url("../../images/ninja-course.png");
                background-size: cover;
                background-position: center;
            }
        }
    }

    &__listItem {
        width: 32%;
        height: 30rem;
        overflow: hidden;
        transition: all .3s;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    .listItem__heading {
        background-color: #111;
        color: white;
        width: 100%;
        height: 8rem;
        position: absolute;
        z-index: 150;
        bottom: 0;

        h3 {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            opacity: .90;
            margin-top: 2.2rem;
        }
    }
}